<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onLogin()">Login</button>&nbsp;
      <button class="btn btn-warning" (click)="onLogOut()">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/categories']"
            routerLinkActive="active"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/template-from']"
            routerLinkActive="active"
            >Template Form</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/reactive-from']"
            routerLinkActive="active"
            >Reactive Form</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/filter-pipe']"
            routerLinkActive="active"
            >Filter Pipes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/post']" routerLinkActive="active"
            >Post Data</a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="usersAdded">User added button clicked</div>

          <router-outlet></router-outlet>
          <!-- <app-home></app-home>
          <app-users></app-users>
          <app-categories></app-categories> -->
        </div>
      </div>
    </div>
  </div>
</div>
